@mixin hook-list-misc() {

    .uk-sidebar-list {

        & > li {
            margin: 0 !important;
            transition: background 0.3s ease-in-out;

            a {
                display: block;
                padding: $global-gutter/2;
            }

            &.active, &.router-link-active {
                background: $primary;
                color: $light;
                font-weight: 500;
            }

            &:not(.active):hover {
                background: transparentize($primary, 0.75)
            }

            .icon {
                margin-right: $global-gutter/2;
            }
        }
    }
}

@mixin hook-button() {
    font-weight: 500;
}


// dropdown
@mixin hook-dropdown() {
    box-shadow: none;
    @include elevation(2px);
}

@mixin hook-dropdown-nav() {

    li:nth-child(n+2) {
        border-top: 1px solid $global-border;
    }
}

@mixin hook-dropdown-nav-item() {
    padding: $global-gutter/2;
    transition: all 0.3s ease-in-out;
}

@mixin hook-dropdown-nav-item-hover() {
    color: $primary;
    background: transparentize($muted, 0.7);
}